{
    "tabWidth": 4,
    "useTabs": false,
    "singleQuote": true,
    "arrowParens": "avoid",
    "bracketSameLine": true,
    "jsxSingleQuote": true,
    "withNodeModules": true,
    "semi": true,
    "printWidth": 80,
    "trailingComma": "es5",
    "plugins": ["prettier-plugin-tailwindcss"]
}
